// ---- margins

.margin-tiny {
	margin: 5px !important;	
}

.margin-small {
	margin: 10px !important;	
}

.margin-medium {
	margin: 20px !important;	
}

.margin-large {
	margin: 30px !important;	
}

.margin-xlarge {
	margin: 40px !important;	
}

// ---- margin top

.margin-top-tiny {
	margin-top: 5px !important;	
}

.margin-top-small {
	margin-top: 10px !important;	
}

.margin-top-medium {
	margin-top: 20px !important;	
}

.margin-top-large {
	margin-top: 30px !important;	
}

.margin-top-xlarge {
	margin-top: 40px !important;	
}


// ---- margin bottom

.margin-bottom-tiny {
	margin-bottom: 5px !important;	
}

.margin-bottom-small {
	margin-bottom: 10px !important;	
}

.margin-bottom-medium {
	margin-bottom: 20px !important;	
}

.margin-bottom-large {
	margin-bottom: 30px !important;	
}

.margin-bottom-xlarge {
	margin-bottom: 40px !important;	
}

// ---- margin right

.margin-right-tiny {
	margin-right: 5px !important;	
}

.margin-right-small {
	margin-right: 10px !important;	
}

.margin-right-medium {
	margin-right: 20px !important;	
}

.margin-right-large {
	margin-right: 30px !important;	
}

.margin-right-xlarge {
	margin-right: 40px !important;	
}

// ---- margin left

.margin-left-tiny {
	margin-left: 5px !important;	
}

.margin-left-small {
	margin-left: 10px !important;	
}

.margin-left-medium {
	margin-left: 20px !important;	
}

.margin-left-large {
	margin-left: 30px !important;	
}

.margin-left-xlarge {
	margin-left: 40px !important;
}


// ---- paddings

.padding-tiny {
	padding: 5px !important;	
}

.padding-small {
	padding: 10px !important;	
}

.padding-medium {
	padding: 20px !important;	
}

.padding-large {
	padding: 30px !important;	
}

.padding-xlarge {
	padding: 40px !important;	
}

// ---- padding top

.padding-top-tiny {
	padding: 5px !important;	
}

.padding-top-small {
	padding: 10px !important;	
}

.padding-top-medium {
	padding: 20px !important;	
}

.padding-top-large {
	padding: 30px !important;	
}

.padding-top-xlarge {
	padding: 40px !important;	
}

// ---- padding left

.padding-left-tiny {
	padding-left: 5px !important;	
}

.padding-left-small {
	padding-left: 10px !important;	
}

.padding-left-medium {
	padding-left: 20px !important;	
}

.padding-left-large {
	padding-left: 30px !important;	
}

.padding-left-xlarge {
	padding-left: 40px !important;	
}
