@import "./globals/colors.scss";

.process-bubble {
	
}

.process-bubble__header {
	border: 1px solid $black;
	height: 50px;
	background-color: $black;
	border-top-left-radius: 8px;
  	border-top-right-radius: 8px;

  	h4{
  		color: $white;
  	}
  	

  	.close {
  		float: right;
  		display: inline-block;
  	}
}

.process-bubble__content {
	height: 500px;
	background-color: $white;
	overflow-y: scroll;
	border-left: 1px solid $black;
}

.process-bubble__footer {
	border: 1px solid $black;
	height: 50px;
	background-color: $black;
	border-bottom-left-radius: 8px;
  	border-bottom-right-radius: 8px;
  	color: $white;

  	.add {
  		display: inline-block;
  	}
}

.process-bubble__content__process {
	min-height: 65px;
	border-bottom: 1px solid $black;
	cursor: pointer;
}

.process-bubble__content__process--task {
	@extend .process-bubble__content__process;
	background-color: $lightblue;
}

.process-bubble__content__process--input {
	@extend .process-bubble__content__process;
	background-color: $redish;
}

.process-bubble__content__process--finished {
	@extend .process-bubble__content__process;
	background-color: $greenish;
}

.process-bubble__content__process__pid {
	color: $dgrey;
	font-size: 0.9rem;
}

.process-bubble__content__process__actions a {
	font-size: 2em;
}

.process-bubble__content__process:hover {
	background-color: $greenblue;
	color: $white;

	.process-bubble__content__process__version {
		color: $white;
	}

	.process-bubble__content__process__pid {
		color: $white;
	}

	.process-bubble__content__process__actions a {
		color: $white;
	}

	.process-bubble__content__process__actions a:hover {
		color: $grey;
	}
}

.process-bubble__content__process__version {
	color: $dgrey;
	font-size: 0.9rem;
}

.process-bubble__header__close {
	
}

.process-bubble__header__version {
	color: $dgrey;
	font-size: 1.2rem;
}

.process-bubble__content__process__action {
	display: inline-block;
}

.process-bubble__content__action-list {
	margin: 0 10px;
	list-style: none;

	
}

.process-bubble__content__action-list__item {
	background-color: #ccc;
	width: 100%;
	height: 100px;
	text-align: center;
	padding-top: 5px;
	margin-bottom: 20px;
}

.process-bubble__content__action-list__item--head {
	@extend .process-bubble__content__action-list__item;
	background-color: $redish;
}

.process-bubble__content__task-list {
	border: 1px solid #ddd;
	list-style: none;
	margin: 0px;

	&:last-child{
	    border-bottom: 0;
	}
}

.process-bubble__content__task-list__item {
	margin: 0px !important;
	padding: 10px;
	border-bottom: 1px solid #ddd
}

.process-bubble__content__task-list__task-item__label {
	padding: 9px 0 10px 0;
}

.process-bubble__content__task-list__task-item__assignee-label {
	padding: 9px 0 10px 0;
	color: $dgrey;
	text-align: center;
}
