.process-bubble {
	
}

.process-bubble__header {
	height: 50px;
	background-color: #ccc;
	border-top-left-radius: 8px;
  	border-top-right-radius: 8px;

  	.close {
  		float: right;
  		display: inline-block;
  	}
}

.process-bubble__footer {
	
	.add {
  		display: inline-block;
  	}
}

.process-bubble__content {
	height: 500px;
	background-color: #eee;
	overflow-y: scroll;
}

.process-bubble__footer {
	height: 50px;
	background-color: #aaa;
	border-bottom-left-radius: 8px;
  	border-bottom-right-radius: 8px;
}

.process-bubble__content__process {
	height: 65px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}

.process-bubble__content__process:hover {
	background-color: #ddd;
}

.process-bubble__content__process__version {
	color: #bbb;
}

.process-bubble__header__close {
	
}

.process-bubble__header__version {
	color: #999;
	font-size: 1.2rem;
}

.process-bubble__content__process__action {
	display: inline-block;
}